.page-title {
    height: 85vh;
    min-height: 819px;
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ), url('/img/header/fone-2.png');
}

.header {
    height: 12%;
    min-height: 116px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header > div {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-logo > a{
    display: flex;
    align-items: center;
}

.logo {
    padding-right: 15px;
    -webkit-user-select: none;
}

.log-name h1, .log-name p, .section-nav li, .section-booking a{
    color: #fff;
}

.log-name h1 {
    font-size: 1.2rem;
    font-weight: 400;
}

/* section-nav */

.section-nav > nav > ul {
    display: flex;
}

.section-nav > nav > ul > p, .section-nav > nav > ul > a {
    padding: 0 12px;
}

.section-nav li {
    cursor: pointer;
    transition: 0.2s;
}

.section-nav > nav > ul li:hover {
    color: #42aaff;
}

/* section-booking */

.section-booking > a {
    padding: 15px 30px;
}

/* section-find-travel */

.section-find-travel {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-find-travel > div {
    text-align: center;
}

.section-find-travel h2, .section-find-travel h3, .section-find-travel a {
    color: #fff;

}

.section-find-travel h2 {
    margin-bottom: 10px;
    font-size: 2.8rem;
}

.section-find-travel h3 {
    margin-bottom: 70px;
}

.section-find-travel a {
    font-size: 1.1rem;
    padding: 1.2rem 4.4rem;
}

.section-find-travel > div > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* header на других страницах */
.header-white-fon {
    background-color: #fff;
}

.header-white-fon .section-nav a, .header-white-fon .section-nav li, .header-white-fon .log-name h1, .header-white-fon .log-name p{
    color: black;
}

.header-fixed {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 10%;
    z-index: 99;
    border-bottom: 2px solid #1f1f1f;
}

.header-white-fon .section-booking a:hover {
    background-color: #1f1f1f;
    color: #fff;
}

.header-down {
    animation: menuDown 0.2s linear 1 ;
}

.header-up {
    animation: menuUp 0.2s linear 1 ;
}

/* hidden menu */

.section-hidden-menu {
    display: none;
    margin-right: 10px;
}

.section-hidden-menu img {
    width: 30px;
    filter: invert(1);
    cursor:pointer;
}

.header-white-fon .section-hidden-menu img {
    filter: invert(0);
}

.section-hidden-nav {
    position: fixed;
    transform: translateY(-200%);
    z-index: 999;
    background-color: #1f1f1f;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    transition: 0.7s;
}

.section-hidden-nav li, .section-hidden-nav a {
    color: #fff;
    font-size: 1.3rem;
}

.section-hidden-nav > div {
    width: 70%;
    margin: 0 auto;
}

.hidden-close {
    padding: 45px 0;
}

.hidden-close > img {
    float: right;
    filter: invert(1);
    width: 30px;
    cursor: pointer;
    animation: hiddenMenu 0.2s linear 1;
}

.hidden-menu  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.hidden-menu > ul  li {
    padding: 20px 0;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.hidden-menu > ul  li:hover {
    text-decoration: underline;
}

.hidden-booking {
    margin-top: 60px;
}

.hidden-booking > a {
    padding: 10px 50%;
    border-radius: 0px;
}