<div class="main-content-center">
    <h2 style="font-size:40px; font-weight: 500; padding-bottom: 10px;">Каюты теплохода</h2>

    <div class="cabins-main">

        <div>
            <a href="/suite-cabin">
                <div class="block-img-scale"><img src="/img/cabins/suite-cabin.png" class="img-scale"></div>
                <h3>Сьют каюта</h3>
            </a>
            
            <p>Внешние каюты 18 – 24 м2 с иллюминатором (класс «Сьют», увеличенной площади). Расположены на второй, третьей, четвертой палубах....</p>
        </div>

        <div>
            <a href="/inside-cabin">
                <div class="block-img-scale"><img src="/img/cabins/inside-cabin.png" class="img-scale"></div>
                <h3>Внутренняя каюта</h3>
            </a>

            <p>Внутренние каюты без иллюминатора (класс «Б»). Расположены на второй, третьей, четвертой, пятой палубах....</p>
        </div>

        <div>
            <a href="/outside-cabin">
                <div class="block-img-scale"><img src="/img/cabins/outside-cabin.png" class="img-scale"></div>
                <h3>Внешняя каюта</h3>
            </a>

            <p>Внешние двухместные каюты с иллюминатором (класс «A»). Расположены на второй, третьей, четвертой палубах....</p>
        </div>

    </div>

</div>