<div class="main-content-center">
    <h2>Морская прогулка: идеальный сервис, увлекательный досуг на борту</h2>

    <div>
        <div>

            <p>У Вас не будет времени, чтобы находиться в каюте. И дело не только в изумительных видах, которые открываются с палубы во время каждого морского круиза...</p>
            <p>На борту организованы мероприятия и услуги для всех возрастов:</p>

            <ul>

                <li>концерты, театральные постановки, дискотеки;</li>
                <li>современные джакузи, 4 бассейна, в трех из которых - морская вода;</li>
                <li>фильмы на любой вкус и настроение;</li>
                <li>хороший подбор литературы для отдыха на палубе;</li>
                <li>спортивные конкурсы, эстафеты для поклонников активного отдыха;</li>
                <li>экскурсии по интересным местам черноморских портов РФ.</li>

            </ul>

            <p>Вы всегда будете в прекрасной форме благодаря усилиям профессиональных косметологов и парикмахеров.</p>
            <p>Не останутся без внимания самые маленькие пассажиры, ведь в детском клубе работают внимательные педагоги.</p>

        </div>

        <div>

            <p>Эксклюзив для Вас:</p>

            <ul>

                <li>охраняемая парковка в сочинском порту для Вашего авто на время путешествия;</li>
                <li>Room service: доставка любых блюд, напитков в каюту;</li>
                <li>продажа брендированных сувениров на борту;</li>
                <li>профессиональные фотосессии на палубе (электронный, печатный формат);</li>
                <li>букет и поздравление от капитана.</li>

            </ul>

            <p>Круизный лайнер «название» - это возможность провести грандиозное мероприятие с большим количеством участников:</p>

            <ul>
                <li>свадебное торжество;</li>
                <li>корпоративный праздник.</li>
            </ul>

            <p>Каждый гость получит выгодное предложение по размещению, развлекательной программе, великолепной кухне, безупречному сервису, лучшим видам на море.</p>

        </div>
    </div>
</div>