<div class="main-content-center find-out-seats-main">
    <div>
        <h2>Узнайте о наличии мест</h2>
        <h2>на нужный круиз</h2>
        <p>оставьте контакты и мы свяжемся с вами</p>
        <div>
            <p data-arrowMoveUp class="button button-blue flare-button">
                Узнать о наличии мест
                <span class="flare-white"></span>
            </p>
            <div class="button-line"></div>
        </div>
    </div>
</div>