<div class="main-content-center">
    <div class="footer-up">
        <div class="footer-up-title">

            <div class="footer-title">
                <div>
                    <img src="/img/header/logo.png" alt="">
                </div>
                <div>
                    <h4>название</h4>
                    <p style="color: grey;">круиз по чёрному морю</p>
                </div>
            </div>

            <div class="footer-menu-1">
                <ul>

                    <li>
                        <a href="/#" class="button-color-blue">Главная</a>
                    </li>

                    <li>
                        <a href="/#description" class="button-color-blue">О крузе</a>
                    </li>

                    <li>
                        <a href="/#cabins" class="button-color-blue">Каюты</a>
                    </li>

                </ul>
            </div>

            <div class="footer-menu-2">
                <ul>

                    <li>
                        <a href="/#galery" class="button-color-blue">Галерея</a> 
                    </li>

                    <li>
                        <a href="/#footer" class="button-color-blue">Контакты</a> 
                    </li>

                </ul>
            </div>  

        </div>

        <div class="footer-mail">
            <h2 style="padding-bottom: 10px;">8 (800) 555-35-55</h2>
            <h2>mail@yandex.ru</h2>
        </div>
    </div>

    <div class="footer-under">
        <h2 style="color: grey;">©️ 2022 "название"</h2>
        <h2 style="cursor:pointer;">Политика конфидециальности</h2>
        <h2 style="color: red;cursor:pointer;">Оплата на сайте</h2>
        <h2 style="color: grey;">Сделано Artem Shkarin</h2>
    </div>
</div>