<div class="main-content-center include-price-main">
    <h2>Что входит в стоимость черноморских круизов</h2>
    <div>
        <div>
            <p>Пассажиры обслуживаются в формате Full board.</p>
            <p>В цену билета включены:</p>
            <ul>

                <li>морской тур с размещением в каюте лайнера «название»;</li>
                <li>трехразовое питание (полный пансион*);</li>
                <li>аквапарки, бассейны;</li>
                <li>концерты, кинотеатр;</li>
                <li>детских площадки и анимация, групповых занятий, спортзоны;</li>
                <li>доставка багажа в номер, портовые сборы, НДС 20%.</li>

            </ul>

            <p>*Полный пансион предусматривает 3-разовое питание («шведский стол», несколько вариантов).</p>
        </div>

        <div>
            <p>Оплачиваются отдельно:</p>

            <ul>

                <li>проезд к морскому порту;</li>
                <li>береговые экскурсии;</li>
                <li>алкоголь, безалкогольные напитки в корабельных барах;</li>
                <li>услуги детской няни до трех лет;</li>
                <li>SPA-процедуры, услуги прачечной;</li>
                <li>парикмахерская, салон красоты;</li>
                <li>раннее/ позднее размещение на борту.</li>

            </ul>

            <p>В магазине судна можно купить алкоголь, продукты, готовые блюда. В барах широкий ассортимент вин, шампанского, коктейлей, крепкого алкоголя, пива, свежевыжатых соков и т. д.</p>
            <p>Круиз на теплоходе "название" безупречен по составу своих развлечений: вы будете всегда сыты и обескураживающе счастливы.</p>        
        </div>
    </div>
</div>