<div class="main-content-center reasons-main">
    <div class="reasons-title">
        <h2>Черноморские</h2>
        <h2>круизы на теплоходе</h2>
        <h2 style="color:grey;"></h2>   
    </div>

    <div class="reasons">
        <div>
            <div><img src="/img/icons/reasons/reason-steering.png" style="width: 80px;" class="reason-choose"></div>
            <p>Интересный маршрут и экскурсии</p>
        </div>
        <div>
            <div><img src="/img/icons/reasons/reason-wallet.png" class="reason-choose"></div>
            <p>Доступные цены: от 30 тыс. за 7 дней</p>
        </div>
        <div>
            <div><img src="/img/icons/reasons/reason-food.png" class="reason-choose"></div>
            <p>Питание "все включено", развлечения, релакс-отдых</p>
        </div>
        <div>
            <div><img src="/img/icons/reasons/reason-pasport.png" style="margin-left:10px;" class="reason-choose"></div>
            <p>Без визы и загранпаспортов</p>
        </div>
        <div>
            <div><img src="/img/icons/reasons/reason-one.png" style="margin-left:-10px;" class="reason-choose"></div>
            <p>Единственный круиз по Черному морю</p>
        </div>
        <div>
            <div><img src="/img/icons/reasons/reason-ship.png" style="width: 80px;" class="reason-choose"></div>
            <p>Полный маршрут или тур от 1 дня</p>
        </div>
    </div>
</div>